html {
    --purple-color: #9356DC; 
    --pink-color: #FF79DA;
    --green-color: #99E2D0;
    font-family: Roboto, sans-serif;
}

body {
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #424242;
    color: white;
}

figure {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 90%;
    max-width: 500px;
    box-shadow: 5px 5px 8px #D8D8D8;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

figcaption {
    height: 80px;
    margin-left: 0.7rem;
    line-height: 50%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

h1 {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

main header {
    flex-direction: column;
    background-color: #F2F2F2;
    text-align: center;
}


main header p {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    color: #424242;
}

figure img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

figcaption h3, p{
    color: black;
}

footer h2 {
    margin-left: 2.5rem;
}

footer ul {
    margin-bottom: 2rem;
}

footer li {
    margin-bottom: 5px;
}

footer a {
    color: white;
}

footer i {
    margin-right: 5px;
    transform: scale(0.8);
}

span { 
    margin-left: -0.7rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 25px;
    background-color: var(--purple-color);
    color: white;
}

.bouton {
    position: relative;
    z-index: 1;
    min-width: 180px;
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 5px 5px 8px #D8D8D8, -5px 0px 8px #D8D8D8;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: var(--purple-color);
    color: white;
    text-align: center;
}

.bouton:hover::after {                  /* animation bouton */
    opacity: 1;
}

.bouton::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: var(--pink-color);
    border-radius: 30px;                                            
    box-shadow: 5px 5px 16px #afafaf, -5px 0px 16px #afafaf;
    transition: opacity 0.4s;
}

.main__location {
    display: flex;
    justify-content: center;
    box-shadow: inset 0 2px 3px #BDBDBD;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #E6E6E6;
    justify-content: center;
    color: #2e2e2e;
}

.main__fonctionnement {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.main__fonctionnement h2 {
    margin-left: 1rem;
}

.main__fonctionnement ul {
    max-width: 500px;
    margin-left: -1rem;
    margin-right: 1.5rem;
}

.main__fonctionnement li:hover {
    transform: scale(1.05);
    background: #E6E6E6;
}

.main__fonctionnement li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #D8D8D8;
    margin-bottom: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #F2F2F2;
    transition: 0.4s;
}

.main__fonctionnement--text {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main__restaurant {
    padding-bottom: 3rem;
    background-color: #F2F2F2;
}

.main__restaurant h2 {
    margin-top: 2.5rem;
    margin-left: 1rem;
}

.fa-map-marker-alt {
    margin-left: -1rem;
    padding-right: 1rem;
    color: #2e2e2e;
}
.fa-store, .fa-list-ul, .fa-mobile-alt {
    padding-left: 1.5rem;
    color: #848484;
}

.restaurant--new {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 69px;
    height: 17px;
    padding-left: 11px;
    padding-top: 10px;
    background-color: var(--green-color);
    color: rgb(0, 128, 75);
    font-size: 90%;
}
/* Animation coeur index */
.coeur--full:hover {
    opacity: 1;
}

.coeur--full {          
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: var(--purple-color);
    transition: opacity 0.5s;
}

.index__coeur {
    position: absolute;
    bottom: 40px;
    right: 35px;
    transform: scale(1.5);
    font-weight: lighter;
}

.fa-heart {
    cursor: pointer;
}

.logo {
    transform: scale(0.5);
}

.fa-store {
    padding-right: 1.3rem;
    color: var(--purple-color);
}

.fa-list-ul {
    padding-right: 1.5rem;
}

.fa-mobile-alt {
    padding-right: 1.8rem;
}

.fa-mobile-alt {
    transform: scale(1.2);
}

.fa-utensils {
    padding-right: 5px;
}

.fa-hands-helping {
    margin-left: -2px;
}

.police--shrikhand {
    font-family: Shrikhand, sans-serif;
}
/* CSS spécifique aux menus */

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.main__titre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    margin-top: -2rem;
    background-color: #F2F2F2;
}

.main__titre h1 {
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 175%;
}

.main__menu li {
    border-radius: 15px;
    box-shadow: 5px 5px 8px #D8D8D8;
    margin-bottom: 1rem;
    background-color: white;
}

.main_menu_div {
    display: flex;
    justify-content: space-between;
}

.main_menu--text {              /* comment faire pour que le prix fasse disparaître le texte */
    margin-bottom: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main_menu--price {
    margin-bottom: 0;
    margin-top: 0.5rem;
    margin-right: 1rem;
    font-weight: bold;
}

.main__menu ul {
    max-width: 730px;
    margin-left: -1.7rem;
    margin-right: 1rem;
}

.main__menu h2 {
    width: 12%;
    margin-left: 1rem;
    border-bottom: 3px solid var(--green-color);
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: lighter;
}

.main__menu h3 {
    padding-top: 1.2rem;
}

.main__menu p {
    padding-bottom: 1.2rem;
}

.main__menu {
    background-color: #F2F2F2;
}

.fa-arrow-left {
    position: relative;
    left: 25px;
    transform: scale(1.5);
    color: black;
}

/* Animation du coeur des menu */
.coeur--full--menu:hover {
    opacity: 1;
}

.coeur--full--menu {          
    content: "";
    position: absolute;
    top: 1px;
    right: 0;
    opacity: 0;
    color: var(--purple-color);
    transition: opacity 0.5s;
}
 
.coeur--menu {
    position: relative;
    top: 10px;
    transform: scale(1.5);
}

@media (min-width: 768px) {
    footer h2 {
        margin-left: auto;
        margin-right: auto;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: -2.5rem;
    }

    .main__fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main__fonctionnement li {
        width: 550px;
    }

    .main__restaurant h2{
        display: flex;
        justify-content: center;
    }

    .main__restaurant figure {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main__carte {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    /* css menu */

    .main__menu img {
        margin-left: auto;
        margin-right: auto;
        max-width: 767px;
        border-radius: 25px;
        box-shadow: 10px 10px 20px #D8D8D8, -10px 0px 20px #D8D8D8;
        margin-bottom: 3rem;
    }

    .main__titre {
        display: flex;
        justify-content: center;
    }

    .main__menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .main__menu h2 {
        width: 8%;
        margin-left: auto;
        margin-right: auto;
    }

    .main__menu li {
        max-width: 800px;
        min-width: 600px;
    }

    .menu__image {
        background-color: white;
    }
}

@media (min-width: 1200px) {
    .main__carte {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }

    .main__restaurant figure {
        margin-left: auto;
        margin-right: auto;
    }

    /*css menu */
    .main__menu h2 {
        width: 5%;
    }
    
}